/*------------------------------------*\
              GENERAL
\*------------------------------------*/

*{
  margin: 0;
  padding: 0;
}

.title{
  position: relative;
  margin-top: 15px;
  margin-left: 12px;
}

.navbar ul{
  left: 50%;      /*Centers*/
  position: relative; /*Keeps navbar in on top when scrolling*/
  margin-top: -24px; /*Will move the navbar up and done*/
  list-style-type: none;
  z-index: 100;
}

.navbar li{
  display: inline;
  padding: 8px;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  z-index: 100;
}

/*------------------------------------*\
          Boxes for Homepage
\*------------------------------------*/

.boxes-button ul{
  position: relative;
  margin-top: 120px;
  align-content: center;
  position: relative;
}

.boxes-button li{
  padding: 50px;
  border: 4px solid black;
  margin: 20px;
  text-align: center;
  list-style-type: none;
}

.boxes-button li ul{
  vertical-align: middle;
}

.boxes-button li a{
  text-decoration: none;
  color: black;
  display: block;
}

.boxes-button li a:hover{
  text-decoration: none;
  color: red;
}

.squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
